body {
  background-color: #080f15;
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

button#theme-toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.profile-img {
  width: 200px;
  border-radius: 15px;
  margin-top: 20px;
}
