* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Poppins", sans-serif;

}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 7, 42);
}

.heart {
    height: 280px;
    width: 280px;
    background-color: rgb(135, 62, 203);
    position: relative;
    transform: rotate(-45deg);
    box-shadow: 10px 10px 90px rgb(135, 62, 203);
    animation: heart 0.6s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);

    }
    60% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
    
}

.heart p {
    position: absolute;
    z-index: 999;
    width: 100%;
    transform: rotate(45deg) translate(0, -50px);
}

.heart::before {
    content: "";
    position: absolute;
    height: 280px;
    width: 280px;
    background-color: rgb(135, 62, 203);
    top: -50%;
    border-radius: 150px;
    box-shadow: -10px -10px 90px rgb(135, 62, 203);

}

.heart::after {
    content: "";
    position: absolute;
    height: 280px;
    width: 280px;
    background-color: rgb(135, 62, 203);
    right: -50%;
    border-radius: 150px;
    box-shadow: 10px 10px 90px rgb(135, 62, 203);
    
}